body .box{
    height: 900px;
}

.box{
    background-color: red; /* Цвет фона */
    background-image: url('../img/dog.jpeg'); /* Изображение фона */
    background-repeat: no-repeat;
    /*
        no-repeat - отключает повторение по оси x и y
        repeat-x - повторение будет только по оси Х
        repeat-y - повторение будет только по оси Y
    */

    /*
        background-attachment: fixed;
        Фиксирует изображение на фоне относительно области видимости
    */

    background-position: 10% 10%;
    /*
        По умолчанию координаты 0 0 (x y)
        center (50%)
        Для x - left (0%) \ right (100%)
        Для y - top (0%) \ bottom (100%)

        Можно задавать в % - тогда координаты будут вычисляться относительно 
        размеров элемента

        Если задать в px, то координата будет отталкиваться от верхнего левого угла 
        элемента
    */

    background-size: cover;

    /*
        Значение по-умолчанию - auto

        cover = изменяет размер картинки, так чтобы она полностью заполнила фон элемента

        contain - изменяет разера картинки, так чтобы она поместилась на фон элемента

        Если передать значение в %, то нужно передавать сразу 2 значения - высоты и ширины
        
        50% auto

        Также можно задать в px

        200px 300px

        
    */

    /* Краткая запись */

    background: center center / contain no-repeat black url('../img/dog.jpeg');

    /* Множественная запись - каждый новый фон пишется через запятую
    
        background: url('image1.jpg'), url('image2.jpg'),....;
    */

    height: 600px;

}



[data-name] {
    height: 40px;
    background-color: blue;
}

[data-name="block2"] {
    background-color: purple;
}

div div{ /* Селектор потомка */
    color: red;
}

/* Комбинирование селекторов */

div.hello{

}


/* Дочерние селекторы */

div > b {
    color: #0400ff;
}
/*
    Будет искать все div, а потом все b лежащие в div на 1 уровне вложенности
*/

/* Сестринские селекторы */

h1 + p { /* Выделит следующий сестринский элемент за h1 */
    text-decoration: underline;
}

h1 ~ p { /* Выделит все сестринские элементы за h1 */
    text-transform: uppercase;
    
    font-weight: 300;

    color: rgb(19, 197, 65);
}

/*
    Варианты записи HEX цветов:
    1) #0400ff
    2) #0400ff00 - цвет с прозрачностью
    3) #fff - сокращенная запись, если цвет позволяет

    RGB запись цвета:
    rgb(0, 0, 0)

    rgba(0, 0, 0, 0.5)  - цвет с прозрачностью 50%

    rgba(0, 0, 0, .5) - кратка запись прозрачности

    hsl(градус, насыщенность, яркость)
    hsla(градус, насыщенность, яркость, прозрачность)

*/

/*
    Относительные единицы измерения:

    1) em - это размер взятый у родителя и умноженный на коэффициент указанный в em
        Например: у родителя font-size: 20px;
        У потомка font-size: 2em (2 * 20px = 40px)

    2) rem - это размер взятый у элемента html и умноженный на коэффициент указанный в 
        rem
        Например: у html font-size: 25px;
        У потомка font-size: 2rem (2 * 25px = 50px)

 */



h1 {
    font-size: 30px;
}