.clear{
    clear: both;
}

.parent{
    padding: 0 20px;
    margin: 0 30px;
}

.parent .child{
    height: 100vh;
    float: left;
    margin: 0 20px;

    width: calc((100% - 160px) / 4); 
    /*
        Поддерживает умножение, деление, сложение, вычитание, скобки.
        Перед и после оператора должен стоять пробел!!
    */
}

.parent .child.el1{
    background-color: blue;
}
.parent .child.el2{
    background-color: red;
}
.parent .child.el3{
    background-color: green;
}
.parent .child.el4{
    background-color: purple;
}