/*
    Позицианирование

    1) По умолчанию все элементы именю значение позиции 
        position: static;

    2) relative - при этом свойстве элемент получает возможнотсть сдкигаться со 
    своего места, относительно своей текущей позиции.
    Также все его потомки, если их свойство position не static не могут выйти за пределы
    его границ(кроме fixed).
    На его место ничего не может сместиться и он свобой ничего не двигает.

    Сдвигать со своего места его можно свойствами top\left\right\bottom
    Они могут принимать такие значения: %, px



*/

.pos-relative{
    position: relative;
    top: 50px;
    left: 150px;

    background: red;
    width: 400px;
    height: 400px;

    z-index: 2;
}

.pos-relative-child{
    width: 40px;
    height: 40px;
    background-color: seagreen;

    position: absolute;
    top: 0;
    left: 0;
}

/*
    3) absolute - элемент теряет свое место где он находился. Начинают работать свойства
    top\left\right\bottom и они его позицицанируют относительно родителя, которому
    указано свойство position relative\absolute\fixed. Если ни у одного из родителей 
    не указано свйоство position, то позицианируется относительно html

    Отталкивание или позицианирование происходит относительно сторон родителя.

    z-index - свойство задающее приоритет слоя над другими слоями.
    Может иметь значния от 0 до 999999 и -1

*/

.pos-absolute{
    background: blue;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 300px;
    left: 400px;
    z-index: 1;
}

/*
    4) fixed - элемент теряет свое место. Начинают работать свойства
     top\left\right\bottom. Не зависимо от свойств родителей элемент начинает позицианироваться относительно
     области видимости и закрепляется на экране в пределах области видимости.

     Отталкивание или позицианирование происходит относительно области видимости.


*/

.pos-fixed{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
    color: white;
    font-size: 26px;
    display: block;


    position: fixed;
    bottom: 30px;
    right: 30px;
}

/*
    5) sticky - элемент при прокрутке элемента-роителя прилипает к указанной стороне и будет перемещаться 
    пока высота элемента-родителя не закончится.
    Важно - ни у одного из родтелей не должно быть свойства - overflow: hidden;

    overflow - позволяет, либо скрыть, то что выходит за пределы блока, либо включить скроллинг по оси x или y.

    overflow: hidden - скрывает все что за пределами текущего элемента.
                scroll - включает принудительно скроллы по обеим осям.
    overflow-x: scroll  - включает принудительно скролл по горизонтали
    overflow-y: scroll - включает принудительно скролл по вертикали
                auto - включает сролл по необходимости, если контент не помещается.

*/



.pos-sticky{
    background: black;
    color: white;
    padding: 10px 0;

    position: sticky;
    top: 0;

}

.align-justify{
    text-align: justify;
    text-align-last: justify;
    text-indent: 30px;
    line-height: 2;
    word-spacing: 10px;
    letter-spacing: 5px;
}