@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');


body {
    font-family: Roboto, sans-serif;
    color: #44464f;
}


*{
    box-sizing: border-box;
}

*::after{
    content: '';
    display: block;
    clear: both;
}

img{
    max-width: 100%;
    display: block;
}

.wrapper{
    max-width: 1262px;
    margin: 0 auto;
}

#header{
    padding: 15px 0 11px;
}

.header-logo{
    float: left;
    margin-right: 94px;
}

.header-address{
    float: left;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    padding-left: 30px;
    margin-top: 25px;
    margin-right: 97px;
    background: url(img/map-i.png) no-repeat top left;
}

.header-contacts {
    float: left;
    margin-top: 25px;   
}

.header-contacts_phone {
    display: block;
    font-size: 24px;
    color: #44464f;
    text-decoration: none;
    padding-left: 30px;
    margin-bottom: 3px;
    background: url(img/phone-i.png) no-repeat left center;
}

.header-contacts_email {
    display: block;
    font-size: 16px;
    color: #86c043;
    padding-left: 30px;
    background: url(img/mail-i.png) no-repeat left center;
    line-height: 28px;
}

.header-price{
    display: block;
    float: right;
    width: 222px;
    height: 55px;
    line-height: 55px;
    margin-top: 25px;
    padding-left: 30px;

    border-radius: 3px;
    background-color: #86c043;
    background-image: url(img/file-i.png);
    background-repeat: no-repeat;
    background-position: 37px center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    
}

.header-price:hover{
    opacity: .8;
}

.header-bottom{
    border-top: 1px solid #cbcccd;
}

.header-bottom_menu {
    float: left;
}

.header-bottom_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-bottom_menu ul li{
    float: left;
}

.header-bottom_menu ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #44464f;
    font-size: 16px;

    padding: 0 40px;
    height: 67px;
    line-height: 67px;
}

.header-bottom_menu ul li:first-child a{
    background-image: url(img/home-i.png);
    background-position: 18px center;
    background-repeat: no-repeat;
    padding-left: 53px;
}

.header-bottom_menu ul li a:hover,
.header-bottom_menu ul li.current a{
    background-color: #ffd307;
}

.header-bottom_menu ul li a:hover::before,
.header-bottom_menu ul li.current a::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffd307;
    position: absolute;
    top: -1px;
    left: 0;
}

.header-search{
    float: right;
    padding: 7px 0 8px;
}

.header-search input[type="search"]{
    display: block;
    float: left;
    background-color: #f1f2f4;
    height: 52px;
    width: 293px;
    border-radius: 3px 0 0 3px;
    border: 0;
    padding: 0 23px;
}

.header-search input[type="submit"]{
    font-size: 0;
    border: 0;
    background-color: #ffd307;
    background-image: url(img/search-i.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 52px;
    width: 57px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.header-search input[type="submit"]:hover{
    background-color: fuchsia;
}


.home-slide_item{
    height: 500px;
    padding-top: 133px;
    padding-left: 264px;

    background: url(img/slide.jpg) no-repeat center center;
}

.home-slide_item_title{
    margin: 0;
    color: #86c043;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    text-shadow: 0.515px 0.857px 0px rgba(68, 70, 79, 1);
    text-transform: uppercase;
}

.home-slide_item_descr{
    color: #44464f;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin: 0;
}

.home-articles{
    margin-bottom: 60px;
}
  
.home-articles_title{
    margin: 43px 0;
    text-align: center;
    text-transform: uppercase;
    color: #86c043;
    font-size: 48px;
    font-weight: 500;
    text-shadow: 0.515px 0.857px 0px rgba(68, 70, 79, 0.5);
    line-height: 1.25;
}

.home-articles_item{
    width: calc( (100% - 54px) / 3 );
    float: left;
    margin-right: 27px;
    background-color: #f5f6f8;
    border-radius: 4px;
}

.home-articles_item:nth-child(3n){
    margin-right: 0;
}

.home-articles_item_image,
.home-articles_item_image img{
    display: block;
    border-radius: 4px;
}

.home-articles_item_bottom{
    padding: 20px;
    min-height: 260px; 

    box-shadow: 0px 1px 3px 0px rgba(88, 88, 88, 0.25);
}

.home-articles_item_title{
    margin: 0 0 10px 0;
}

.home-articles_item_title a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #86c043;
    line-height: 1.2;
}

.home-articles_item_text{
    line-height: 1.2;
}

#footer{
    padding: 30px 0 50px;
    background-color: #689434;
}
  
.footer-copyright{
    width: 320px;
    float: left;
    margin-right: 90px;
}

.footer-copyright img{
    margin-bottom: 17px;
}

.footer-copyright_text{
    color: #fff;
    font-weight: 300;
}

.footer-col{
    float: left;
}

.footer-col_menu{
    min-width: 255px;
}

.footer-col_contacts{
    float: right;
    min-width: 300px;
}